.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  text-align: center;
}

.main {
  padding: 5rem 0;
  max-width: 1000px;
  margin-top: 1rem;
}

.main table,
.main img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main table {
  text-align: center;
}

.main img {
  display: block;
  max-width: 80%;
}

.codeBlock {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  background-color: #fdfdfd;
  overflow: scroll;
}

.main code {
  background: #fdfdfd;
  /* border: 1px solid #eaeaea; */
  /* border-radius: 5px; */
  font-size: 90%;
  padding: 0 .5%;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
